.informacoesFormulario{
    width: 450px;
    height: auto;
    margin: auto;
    display: grid;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: #efefef;
    text-align: center;
}

#meuFormulario{
    display: grid!important;
    grid-template-columns: 1fr 4fr;/* Duas colunas com largura igual */
    gap: 10px;/* Espaçamento entre os elementos */
}

.botaoEnvioFormulario{
    border: 1px groove black;
    border-radius: 7px;
    background-color: white;
    box-shadow: 1px 1px 2px rgb(0 0 0);
    position: relative;
    margin: auto;
}